[2020-09-26 20:19] banjtheman opened #1 "Data Collection Virginia"
# What is the Task

Collect county-level data on budgets for counties in Virginia

We would like to collect the following information for each county

state - State located
county - Name of County
year - Year of budget
item - Budget item
budget - Ammount allocated to the item
source - Where data come from

After CSV has been created, place in the data folder

[code]

## Why do we want to do this
W

[2020-09-26 20:23] banjtheman opened #2 "Data Collection Maryland"
# What is the Task

Collect county-level data on budgets for counties in Maryland

We would like to collect the following information for each county

state - State located
county - Name of County
year - Year of budget
item - Budget item
budget - Ammount allocated to the item
source - Where data come from

After CSV has been created, place in the data folder

[code]

## Why do we want to do this
W

[2020-09-26 20:31] banjtheman opened #3 "Data Collection D.C"
# What is the Task

Collect budget data for Washington D.C

We would like to collect the following information for each county

state - State located
county - Name of County ( can just be DC)
year - Year of budget
item - Budget item
budget - Ammount allocated to the item
source - Where data come from

After CSV has been created, place in the data folder

[code]

## Why do we want to do this
We nee

[2020-09-26 20:43] banjtheman opened #4 "Create folders for each state county pair"
# What is the Task
Create a script to create a stub for each State and county for the data folder

## Why do we want to do this
To create a template for each of the counties

## How can I get started?
1. Need to find a list of all States and counites, I would look at the Census website for some data
https://www.census.gov/data.html

2. Using the data gathered create a script that can make director

[2020-09-26 20:55] banjtheman opened #5 "Identify Healthcare investments"
# What is the Task
Define a metric that can be used for Healthcare

## Why do we want to do this
To have a social card for Healthcare investments

## How can I get started?
1. Would google how healthcare investments empower communities and how that translates to dollar amounts.
2.   Create a new case in make_investment_image for Healthcare

https://github.com/banjtheman/defundthepolice/blob/main/m

[2020-09-26 21:00] banjtheman opened #6 "Budgets as a Service"
# What is the Task
Can we create an API to get budget information?

## Why do we want to do this
To make our data more accessible

## How can I get started?
1. Have a way to convert CSV data into a database (Your choice for now)
2. Have code that can read from the database, and return JSON
3. Grapql or REST ( We will want both eventually)

## Definition of Done
Can make an API request to get budge

[2020-09-26 21:03] banjtheman opened #7 "Identify Social Program Investments"
# What is the Task
Define a metric that can be used for Social Programs

## Why do we want to do this
To have a social card for Social Programs Investments

## How can I get started?
1. Would google how social programs investments empower communities and how that translates to dollar amounts.
2.  Create a new case in make_investment_image for Social Programs

https://github.com/banjtheman/defundth

[2020-09-26 21:10] banjtheman opened #8 "Data Visualization for Budgets"
# What is the Task
Build a way to view Budget Data

## Why do we want to do this
Currently, all budget data is in a CSV, we would like a way to view the data in a graphical format

## How can I get started?
I would use a data viz library like https://altair-viz.github.io/
And create some visualizations from the CSV data.

After some initial visualizations have been built, can discuss further the b

[2020-09-26 21:14] banjtheman opened #9 "Collect Fonts"
# What is the Task
Currently, we only have one font for the social cards, we would like more.

## Why do we want to do this
To give users the ability to use more fonts

## How can I get started?
I would look for fonts online like at https://fonts.google.com/
And select the best-looking ones to add to the font folder.

## Definition of Done
At least 10 new fonts added to font folder

[2020-09-26 21:31] banjtheman opened #10 "Identify investments to add to social cards"
# What is the Task
Identify areas of reinvestment for county budgets

## Why do we want to do this
Currently, we only have 3 reinvestments in the app
[code]
What are other categories, can we break this out more?

## How can I get started?
Research on how counties can utilize their funds

## Definition of Done
A new file called reinvestments.MD added that outlines how money can be reinvested into c

[2020-09-26 21:39] banjtheman opened #11 "Create Docker container for application"
# What is the Task
Create a process that can build a docker image that contains all the data and the main_st.py

## Why do we want to do this
We want to be able to create a standalone container with all the components we want to host the application

## How can I get started?
1. Create Dockerfile
2. Add all requirements needed to run the app
3. Create a build script
4. Run the image
5. Navigate to

[2020-09-26 22:04] dannylwe commented on #11
Hi, I would like to work on this for hacktoberfest

[2020-09-26 22:23] banjtheman commented on #11
Awesome!! Post any questions in the comments

[2020-09-26 23:40] debangeedas commented on #9
Hey! I would like to work on this!

[2020-09-26 23:45] debangeedas commented on #8
Hey! I would love to give this a shot! I am sure it would be a great learning curve. Where can I contact you for clarifications or discussions?

[2020-09-26 23:46] debangeedas commented on #1
Hey! I would like to work on this issue too!

[2020-09-26 23:47] debangeedas commented on #2
Hey! I would like to work on this issue too!

[2020-09-26 23:50] banjtheman commented on #8
Awesome!!! post any questions in the comments

[2020-09-26 23:51] banjtheman commented on #1
Awesome, plenty of data to collect, comment below on which county you would like to collect

[2020-09-26 23:52] banjtheman commented on #2
Awesome!! Leave a comment on which county, you would like to collect

[2020-09-27 00:01] debangeedas commented on #1
Let's just go with the first county, Accomack! I do not fully understand the process yet. I was hoping I could contact you outside of github for clarifications. Once I get the hang of it, I may as well take up another county.

[2020-09-27 00:22] banjtheman commented on #1
How should I contact you?

[2020-09-27 00:40] swastikchugh commented on #9
Hey @banjtheman , I would like to contribute to this.

[2020-09-27 00:40] debangeedas commented on #1
Sent you a connection request on LinkedIn. Please accept!

[2020-09-27 01:29] keaglin commented on #2
I'd like to help out. I'm definitely down to work on PG.

[2020-09-27 01:36] debangeedas commented on #2
I'd like to work with Allegany County.

[2020-09-27 01:59] banjtheman commented on #9
Awesome, start going through fonts to add and download the .tff file for the fonts folder

[2020-09-27 02:09] debangeedas commented on #9
Is there any way to ensure that the both of us do not end up adding the same fonts?

[2020-09-27 02:47] banjtheman commented on #9
When you create your pull request, list the fonts you have collected, or leave a comment here to indicate what you have collected

[2020-09-27 03:41] rohan2734 commented on #5
hi i would like to work on this issue

[2020-09-27 06:32] raoashish10 commented on #6
Hey @banjtheman , I would like to work on this issue for hacktoberfest but can you specify the framework you guys intend to use for the API service?

[2020-09-27 07:26] Yashs911 commented on #1
Hey, @banjtheman  I would love to work on this.
Albemarle County
Can u guide me what should I do after creating the csv file

[2020-09-27 08:05] SaravgiYash commented on #1
Hey, @banjtheman I have created the csv file for Albemarle County.
I will create the PR on 1st October.

[2020-09-27 14:00] kunal266 commented on #4
Is it a compulsion to use the given site link, or we can use our own ?

[2020-09-27 14:19] banjtheman commented on #6
Python Flask

[2020-09-27 14:36] banjtheman commented on #5
Awesome, leave any questions you have in the comments

[2020-09-27 14:37] raoashish10 commented on #6
@banjtheman Sure that would be great! On it

[2020-09-27 16:42] debangeedas commented on #9
I added the following 10 font families to the fonts folder:
CourierPrime, DancingScript, DavidLibre, Dosis, Epilogue, MiriamLibre, Oswald, Pacifico, Peddana, Raleway
I will create a PR on the 1st of October

[2020-09-28 06:11] debangeedas commented on #1
Hey, I have created the csv file for Accomack. I will create a PR in October.

[2020-09-28 14:41] raoashish10 opened #12 "Error while installing requirements - pyarrow"
So I ran the command ```pip install -r requirements.txt``` but I ran into this error:
[code]
There seems to be some error with the pyarrow.

Platform: Windows 10, Using virtualenv
Python:
Version 3.8.3
pip version: 20.2.3

Any idea as to how I can fix this error?

[2020-09-28 14:42] kunal266 commented on #2
Hey i'd like to work on Baltimore city

[2020-09-28 15:04] raoashish10 commented on #12
The error got fixed when I switched to Python 3.6
@banjtheman I saw that there was a task to make a Docker container for the application. I would suggest that the python version for the docker image be set to 3.6 so that build doesn't fail.
Closing this issue.

[2020-09-28 15:04] #12 closed, assigned to nobody

[2020-09-28 15:06] raoashish10 commented on #11
@dannylwe I would like to bring #12 to your attention as I think it would be important while creating the Docker file.

[2020-09-28 20:44] banjtheman commented on #12
Hmm could just be a strange windows issue, I have Python 3.7.4 and able to build

https://discuss.streamlit.io/t/modulenotfounderror-no-module-named-pyarrow-lib-when-run-streamlit-hello/4622

[2020-09-29 05:14] raoashish10 commented on #12
@banjtheman Quite possible or I think it has got to do with python 3.8 but not sure though.

[2020-09-29 13:07] raoashish10 commented on #6
@banjtheman I have some doubts regarding the logical structure of the API and forgive me if these questions are a little dumb but do I have to create endpoints for creating and inserting data in the tables too? Or do I only need to make an endpoint to retrieve data?

[2020-09-29 13:47] banjtheman commented on #6
Yes have a function to load data, and a function to retrive data
Here's some pseudo code

[code]

[2020-09-29 18:01] raoashish10 commented on #6
Okay! I have started working and my code is similar. I am trying to generalise the code so that on future additions of counties and states, there will be no hardcoding required.

[2020-09-29 18:13] swastikchugh commented on #9
Im adding the following 10 font families:
Montserrat, NanumGothic, ZillaSlab, CormorantGaramond, PoiretOne, JosefinSlab, Armata, Jura, SairaSemiCondensed, CutiveMono
Ill also be creating a PR on the 1st of October.

[2020-09-30 09:21] rohan2734 commented on #5
@banjtheman  sorry, idk python. i though it is js.

[2020-09-30 10:24] raoashish10 commented on #6
@banjtheman I have a doubt. Will all counties have the same fields for their budgets (County Board, Management and Finance etc.)? Cause if so I will structure the database in that way instead of the way it is structured in the csv file

[2020-09-30 19:16] swastikchugh commented on #9
Hey @banjtheman
Im getting permission denied error.

[2020-09-30 19:37] debangeedas commented on #9
@banjtheman please accept my PR

[2020-09-30 20:14] banjtheman commented on #9
Have enough fonts for now closing

[2020-09-30 20:14] #9 closed, assigned to nobody

[2020-09-30 20:24] banjtheman opened #16 "Add App Sidebar"
# What is the Task
We want to have different "apps" within the main streamlit file

## Why do we want to do this
We want to be able to have many apps that can be accessed from the tool

## How can I get started?
Here is the API reference for streamlit: https://docs.streamlit.io/en/stable/api.html

1. I would take the current main function start at line 130 and place it in another function
call it

[2020-09-30 20:33] banjtheman opened #17 "Budget Comparsion App"
# What is the Task
Create code that can display two-county budgets for comparison

## Why do we want to do this
We want to be able to compare data between different counties

## How can I get started?

1. I would start off with code that can read CSV from user input
https://github.com/banjtheman/defundthepolice/blob/main/main_st.py#L132-L138

2. I would then turn the CSV to dataframees
https://git

[2020-09-30 20:37] banjtheman commented on #6
No, they won't have same field, but that doesn't matter since we are storing that information under "item"

Here are the lists of fields we are collecting for each county
[code]

[2020-09-30 20:39] banjtheman commented on #4
No, if you can find the data elsewhere feel free to do so

[2020-09-30 21:00] thestrugglingblack commented on #6
@raoashish10 Hey can you assign yourself to this ticket? so other know that you are working on this feature. Thanks!

[2020-10-01 02:22] debangeedas commented on #9
@swastikchugh did the merging of the PR get reflected in your hacktoberfest page?

[2020-10-01 04:13] raoashish10 commented on #6
@banjtheman Okay! Understood

[2020-10-01 06:38] swastikchugh commented on #9
Hey @debangeedas
It is reflecting as a pr, but is currently in the 7 day maturity period.

[2020-10-01 07:56] debangeedas commented on #9
Thanks for confirming!

[2020-10-01 08:58] Alig1493 commented on #11
I would like to take up this task if no one else has taken it up.

[2020-10-01 10:21] Alig1493 commented on #11
Hello @banjtheman I added a PR for review #21

[2020-10-01 13:40] banjtheman opened #22 "Theme switcher"
# What is the Task
Add a box to the sidebar to switch between dark and light theme

## Why do we want to do this
To allow different viewing experience

## How can I get started?

1. Create a sidebar button

[code]

2. Create a dark theme method using code here
https://github.com/banjtheman/defundthepolice/blob/main/main_st.py#L222-L239

3. Create a light theme method

## Definition of Done
Can swi

[2020-10-01 14:31] Alig1493 commented on #7
I can already see a section for social programs in the web application so can we assume this to be completed @banjtheman?

[2020-10-01 15:33] banjtheman commented on #7
No it is stubbed out

[2020-10-01 16:31] Alig1493 commented on #8
@banjtheman I would like a review on my attempt against this issue #23.

[2020-10-01 16:58] #11 closed, assigned to dannylwe

[2020-10-01 17:37] #4 closed, assigned to nobody

[2020-10-01 18:09] banjtheman opened #24 "Get Latitude and Longitude for each State/county pair"
# What is the Task
Create a CSV with the following information

[code]

## Why do we want to do this
In order to create maps, we will need the latitude and longitude coordinates for each state/county

## How can I get started?
1. Collect a list of states/county (https://en.wikipedia.org/wiki/List_of_counties_by_U.S._state_and_territory)
2. Use a forward geocoding service like https://docs.mapbox.c

[2020-10-01 18:33] sarthak55k commented on #24
can i do this?

[2020-10-01 18:36] sarthak55k commented on #24
How to get the list of all countries?

[2020-10-01 18:48] banjtheman commented on #24
Up to you, you can scrape, use an API, or whatever you are comfortable with

[2020-10-01 20:11] Alig1493 commented on #8
@banjtheman I took your advice into consideration. Could you review my work at [25](https://github.com/banjtheman/defundthepolice/pull/25) and see if it's closer to what you're asking for?

[2020-10-01 22:41] chandantaneja commented on #24
I would like to work on this issue.

[2020-10-02 02:47] cupOJoseph commented on #24
@chandantaneja or @sarthak55k: check out https://www.census.gov/library/publications/2011/compendia/usa-counties-2011/file-layout.html#part01

You can download a spreadsheet from the census with a list of counties already setup. You will have to delete some columns but that shouldnt be too hard.

[2020-10-02 12:31] chandantaneja commented on #24
@jschiarizzi We need Lat and Long of all the states of a particular country or just the country itself ?

[2020-10-02 15:39] marobinette commented on #1
Working on Richmond!

[2020-10-02 15:44] mpeiffer commented on #22
Hello! Can I be assigned to work on this?

[2020-10-02 16:06] marobinette commented on #1
Do these PRs get reviewed or do we just merge?

[2020-10-02 17:50] Alig1493 commented on #8
@banjtheman I took the liberty of proposing some refactors that would allow future data visualisation additions to be a lot more simple that it is now.
[#28](https://github.com/banjtheman/defundthepolice/pull/28)

[2020-10-02 18:43] banjtheman commented on #24
Should be for county level
[code]

[2020-10-02 18:50] Alig1493 commented on #17
@banjtheman could you take a look at [#29](https://github.com/banjtheman/defundthepolice/pull/29) and see if this is the kind of idea you had for this issue?

[2020-10-03 14:20] banjtheman commented on #16
closed by #29

[2020-10-03 14:20] #16 closed, assigned to nobody

[2020-10-03 23:39] licaroline commented on #3
I'd like to work on this

[2020-10-03 23:44] banjtheman commented on #3
Sure go for it

[2020-10-04 04:04] banjtheman commented on #3
closed by #30

[2020-10-04 04:04] #3 closed, assigned to nobody

[2020-10-04 20:34] Alig1493 commented on #5
@banjtheman I found this info:
[code]
From this [article](https://www.ehealthinsurance.com/resources/affordable-care-act/much-health-insurance-cost-without-subsidy)

Can we implement subsidised/non-subsidised loigcs for this issue?

[2020-10-04 21:47] thestrugglingblack commented on #7
@banjtheman Hey Banjo! Can I take this ticket?

[2020-10-04 23:08] thestrugglingblack commented on #7
@banjtheman Hey Banjo! Here is a list of social programs that we can possibly use. What do you think of these so far?

### Head Start
_"Children whose mothers said they provided low and moderate amounts of preacademic stimulation scored lower in absolute terms on all three outcomes than children whose mothers said they provided more preacademic stimulation, but they gained more from being in a Hea

[2020-10-04 23:25] banjtheman commented on #7
Food Security, Veterans Benefits, and childcare are a good place to start

The goal would be to find a tangible dollar amount that can be reinvested to make a direct impact
i.e every 400 dollars spent on Food security removes x number of people from z

[2020-10-04 23:30] banjtheman commented on #5
Using this metric could set the metric cost to 462 and what we measure as people covered by health insurance

example code
[code]

[2020-10-04 23:35] thestrugglingblack commented on #7
Okay good! So I cant separate these items out and not just have this be all lumped under the umbrella of "Social Programs". So it would be more like the following:
` investments = ["Education", "Healthcare", "Veteran Benefits", "Food Security", "Childcare"]`
??

[2020-10-05 00:00] banjtheman opened #31 "Create Docker image for API"
# What is the Task
The API has lots of external dependencies, we need a docker image to easily stand up the service

## Why do we want to do this
To make it easy to stand up the API

## How can I get started?

- [ ] Create Dockerfile for API
  Requirements
   * libpq-dev
   * python3
   * postgresql
   * gunicorn
    * it should also add all the csvs in Data
- [ ] create a /health endpoint in the

[2020-10-05 00:04] banjtheman opened #32 "Create a Postgress DB Docker script"
# What is the Task
Create a script that creates a Postgress Docker image with all the Data from the CSVs loaded

## Why do we want to do this
In order to have the data stored in a database, so we can more effectively query.

## How can I get started?
1.  Have a script pull a Postgres Docker image
2. Have the script create a new table called budget_data
3.  Have the script insert all the data from

[2020-10-05 00:17] banjtheman opened #33 "Data Collection General"
# What is the Task

Collect county-level data on budgets for counties in any State

We would like to collect the following information for each county

state - State located
county - Name of County
year - Year of budget
item - Budget item
budget - Ammount allocated to the item
source - Where data come from

After CSV has been created, place in the data folder

[code]

## Why do we want to do this

[2020-10-05 00:30] banjtheman commented on #6
Todo

- [x] create docker image #31
- [x] create DB script #32
- [x] Update docker.yml to start both api and database

[2020-10-05 00:58] Jayzcool51 commented on #32
I would like to contribute for this task. please assignee it to me.

[2020-10-05 01:03] DaedalusG commented on #32
I'm also into this, it'd be my first Hacktoberfest, and open source contribution. Please assign me.

[2020-10-05 01:11] banjtheman commented on #32
sure both of you can do this task

[2020-10-05 01:12] sambatlim commented on #31
Can I try?

[2020-10-05 01:13] banjtheman commented on #31
sure go for it

[2020-10-05 02:51] BrianPainter commented on #33
SC, Greenville. Any year you are targeting (2020, 2021)?

[2020-10-05 02:59] sambatlim commented on #31
I need more detail on this issue. Could you explain me more about this issue?

[2020-10-05 03:34] banjtheman commented on #31
Sure make a comment with any questions

[2020-10-05 03:58] kchonka commented on #33
NYC, New York for 2020? Can I do it for the entire city/all 5 counties?

[2020-10-05 04:11] banjtheman commented on #33
2021 if you have

[2020-10-05 04:11] banjtheman commented on #33
sure go for it

[2020-10-05 04:35] SyahirahWanMin commented on #32
hi. please assign this task to me as well . Thanks would like to try a shot

[2020-10-05 05:47] Rdroshan commented on #31
Can I help with a task here? I can see there are different levels for resolving this issue.

[2020-10-05 05:50] friendofdog commented on #31
Is there room for more than one contributor? I've been working a lot on APIs in Flask lately.

[2020-10-05 06:33] sambatlim commented on #31
yes, welcome. we can work together. I am very new with devops.

[2020-10-05 06:34] sambatlim commented on #31
yes, welcome. we can work together. I am very new with devops.

[2020-10-05 06:46] Rdroshan commented on #31
Thanks, Let's divide the tasks. If you want I can help with dockerfile.

[2020-10-05 08:01] friendofdog commented on #31
I can do these parts:

- [ ] create a /health endpoint in the API that returns true
- [ ] Have the API be on port 9000

@banjtheman Is this an internal API or will it be used to serve public REST endpoints? I ask because the app seems to run fine without the API. If you could give us a quick rundown, it would help.

[2020-10-05 08:58] Alig1493 commented on #5
fixed by #37

[2020-10-05 14:11] banjtheman commented on #31
will be used for public rest endpoints

[2020-10-05 14:55] Alig1493 commented on #7
@thestrugglingblack you can append [here](https://github.com/banjtheman/defundthepolice/blob/main/apps/configs.py#L4). If you are able to provide some metrics for the `cost` then the cards should all get updated accordingly.

[2020-10-05 14:58] Alig1493 commented on #6
@banjtheman a few queries regarding the budgets as a service:
* How do you want the app to behave overall, should this be internally dependent on the budgets service and fetch the data from there instead of fetching it from the csv as it does now?
* do you want to expose the api and make it publicly accessible?
* do you want the the app and api to start together or as separate services and connect

[2020-10-05 20:40] #31 closed, assigned to sambatlim

[2020-10-05 20:50] banjtheman opened #40 "Set up Hasura GraphQL API"
# What is the Task
Follow the guide to create a GraphQL endpoint for our Postgres database

https://hasura.io/docs/1.0/graphql/core/deployment/deployment-guides/docker.html#deployment-docker

## Why do we want to do this
To have a more gruanular api

## How can I get started?
Follow the steps outlined here
https://hasura.io/docs/1.0/graphql/core/deployment/deployment-guides/docker.html#deployment-

[2020-10-05 20:51] #32 closed, assigned to DaedalusG, Jayzcool51

[2020-10-05 20:55] banjtheman commented on #6
1.  For now the main app should be independent of the API
2.  In the future yes
3. Good point should have two docker compse files, one for the app, and another for the api. Will make a new ticket

[2020-10-05 21:08] banjtheman opened #41 "Create docker-compose files for Main app and API"
# What is the Task
We want to have two docker-compose files that consist of the following

docker-compose.yml
 * main (./docker/main/Dockerfile)

docker-compose-api.yml
 * api image (./docker/api/Dockerfile)
 * postgress image (PostgresDockerfile)  (needs to be moved to docker folder)

The API should connect to the postgress database, so we can query it.

## Why do we want to do this
To seperate o

[2020-10-05 21:20] banjtheman opened #42 "Make Bar chart sorted"
# What is the Task
Have the bar chart be sorted by the highest value.

## Why do we want to do this
To make the bar chart look better

## How can I get started?
1. Update code here to return a sorted var chart https://github.com/banjtheman/defundthepolice/blob/main/apps/viz.py#L33
2. Here is an example code of a sorted bar chart https://altair-viz.github.io/gallery/bar_chart_sorted.html

## Defini

[2020-10-05 21:21] #5 closed, assigned to nobody

[2020-10-05 21:40] Medha08 commented on #42
Hey, @banjtheman  Can I take up this issue?

[2020-10-05 21:56] mralanlee commented on #41
Hi, I can give this a shot.

[2020-10-05 22:08] mralanlee commented on #41
@banjtheman is `CreateDB.sql` required to be executed to pre-seed the database?

edit:
I'm getting an error on the curl command...

[code]

[2020-10-05 22:20] banjtheman commented on #41
Yes the goal would be for the setup script to pre seed the database

The commands I posted in definetion of done should work **after** you have completed the task

[2020-10-05 22:23] banjtheman commented on #42
sure go for it

[2020-10-05 22:27] banjtheman commented on #41
If the API not working with the database schema, I'll make a new issue to fix the bug.

[2020-10-05 22:28] mralanlee commented on #41
so the `createsql.db` file doesn't create the `states` table and seed it with the data, I created a PR. LMK your thoughts.

[2020-10-05 22:29] #41 closed, assigned to nobody

[2020-10-05 22:34] banjtheman opened #44 "BUG: API does not return data"
# What is the Task
The API currently does not return data due to using a different schema

## Why do we want to do this
In order for the API to work

## How can I get started?
The api is curretly looking for the states table, but it doesnt exist
https://github.com/banjtheman/defundthepolice/issues/41#issuecomment-703915660

it needs to be updated to use budget_data
https://github.com/banjtheman/de

[2020-10-05 22:40] banjtheman opened #45 "Create a Stacked Bar Chart Visualization"
# What is the Task
Create a streamgraph for the data

## Why do we want to do this
To have another viz

## How can I get started?
1. Add a new viz to https://github.com/banjtheman/defundthepolice/blob/main/apps/viz.py
2. Here is an example code of a steam graph https://altair-viz.github.io/gallery/streamgraph.html

## Definition of Done
Can select a streamgraph for the budget visualization

[2020-10-05 22:52] banjtheman opened #46 "Exploratory analysis: can budget predict gini index?"
# What is the Task
Can we create a model that can predict the Gini index of a county based on the budget priorities?

## Why do we want to do this
To have a way to predict what features of a county budget may lead to income inequality.

## How can I get started?
1. Create a notebook and load in the data we have collected
2. Find the latest gini index for certain county can use a site like
https://

[2020-10-05 22:58] banjtheman opened #47 "Create Map Visualization"
# What is the Task
Create a Map Visualization for the data

## Why do we want to do this
To have a map viz

## How can I get started?
1. Add a new viz to https://github.com/banjtheman/defundthepolice/blob/main/apps/viz.py
2. Here is an example code of a streamlit map https://github.com/randyzwitch/streamlit-folium

## Definition of Done

- [ ] Can select a map for the budget visualization
- [ ] Th

[2020-10-06 00:21] taratip commented on #45
@banjtheman can I work on this issue?

[2020-10-06 03:57] trejavu commented on #44
Hi! I’d like to take this one.

[2020-10-06 05:46] TechTarun commented on #46
@banjtheman I want to try this out, can you assign it to me please

[2020-10-06 06:22] Jayzcool51 commented on #42
Can I create pull request for this?

[2020-10-06 07:43] Medha08 commented on #42
![Screenshot_20201006-053930](https://user-images.githubusercontent.com/6583928/95172947-a73aa900-07d5-11eb-97c8-f8b7c0e1df52.png)
Does this look good @banjtheman ?

[2020-10-06 07:45] Medha08 commented on #42
<img width="1440" alt="Screenshot 2020-10-06 at 5 27 32 AM" src="https://user-@banjtheman es.githubusercontent.com/6583928/95173199-fd0f5100-07d5-11eb-898e-6b3ff4bd3a54.png">
Does this look good? @banjtheman

[2020-10-06 08:02] Medha08 commented on #24
Can I work on this issue?

[2020-10-06 11:41] taratip commented on #45
I have a question regarding the graph. I understand that the y axis should be percent and it should show percent for each item in color. What would be the x axis?

[2020-10-06 13:52] banjtheman commented on #46
Sure go get started

[2020-10-06 13:53] banjtheman commented on #45
Can use year

[2020-10-06 13:55] #42 closed, assigned to Medha08

[2020-10-06 15:18] callumrollo commented on #24
Hi @banjtheman, I've had a go at this and I think I have the data you need

![image](https://user-images.githubusercontent.com/28703282/95221619-88491080-07ef-11eb-9463-ff43f29d5e22.png)

Shall I do a PR?

[2020-10-06 15:30] Medha08 commented on #40
Can I take up this issue? @banjtheman

[2020-10-06 15:58] banjtheman commented on #24
yes of course

[2020-10-06 16:16] thestrugglingblack opened #52 "Data Collection Florida"
# What is the Task
Collect county-level data on budgets for counties in Florida

We would like to collect the following information for each county

state - State located
county - Name of County
year - Year of budget
item - Budget item
budget - Ammount allocated to the item
source - Where data come from

After CSV has been created, place in the data folder

data//states/Florida/COUNTY_NAME/budget.

[2020-10-06 16:16] banjtheman commented on #44
fixed by #51

[2020-10-06 16:16] #44 closed, assigned to trejavu

[2020-10-06 16:16] thestrugglingblack opened #53 "Data Collection Florida"
# What is the Task
Collect county-level data on budgets for counties in Florida

We would like to collect the following information for each county

state - State located
county - Name of County
year - Year of budget
item - Budget item
budget - Ammount allocated to the item
source - Where data come from

After CSV has been created, place in the data folder

data//states/Florida/COUNTY_NAME/budget.

[2020-10-06 16:17] #53 closed, assigned to nobody

[2020-10-06 16:24] banjtheman commented on #24
closed by #54

[2020-10-06 16:24] #24 closed, assigned to nobody

[2020-10-06 16:46] trejavu commented on #47
If it's all right with you, I'd like to work on this issue.

[2020-10-06 17:13] banjtheman commented on #47
Map data located at
https://github.com/banjtheman/defundthepolice/tree/main/data/map_data

[2020-10-06 20:57] Medha08 commented on #40
Hey @banjtheman to edit the environment variable **HASURA_GRAPHQL_DATABASE_URL**  for connecting to Postgres instance, I need information regarding DB_URL and password, can we connect on discord for same.

The command is as follows :-

[code]

[2020-10-06 22:26] banjtheman commented on #40
You would stand up the API service as follows...
[code]
https://github.com/banjtheman/defundthepolice/blob/main/docker-compose.api.yml

Ultimately you would add that image to the docker-compose file

[2020-10-07 00:59] banjtheman commented on #22
closed by #56

[2020-10-07 00:59] #22 closed, assigned to mpeiffer

[2020-10-07 15:08] trejavu commented on #47
So, I have a rough sketch of what the map would look like but I need to finish up a few buggy things and wanted some feedback to make sure it was what you're looking for. I've attached a screenshot for the DC map. A couple questions from here...

1. Do we want to include any data in the popup or is it more of a tool to see where you've selected vs other neighboring counties?

2. If we did want to

[2020-10-07 15:53] banjtheman commented on #47
Nice

1. When hover on the pin should show the budget data (item, percent)

2. Yes choropleth map will be great in highlighting differences
Altair has great choropleth map that can be used https://altair-viz.github.io/gallery/choropleth.html

[2020-10-07 20:48] taratip commented on #45
Currently there is only one year for each state so not sure how to plot it.

[2020-10-07 21:24] banjtheman commented on #45
Good point lets pivot to a stacked bar chart

x-axis should be the sum of the percent
y-axis should be the source
and color should be the items

Example code
https://altair-viz.github.io/gallery/horizontal_stacked_bar_chart.html

![image](https://user-images.githubusercontent.com/696254/95389445-d595b280-08c1-11eb-99f1-1efd750f0202.png)

[2020-10-07 23:14] mpeiffer commented on #33
Can I work on AZ, Maricopa?

[2020-10-07 23:18] Medha08 commented on #40
Hey @banjtheman  I added the image in docker-compose but it exits every time, with the log mentioning "database query error". Can you guide me on this, please?

**Changes:**
docker-compose-api.yml

[code]
**Docker Logs:**
https://www.writeurl.com/text/8rd87t5yzwu21vjdpe4b/x7kxe0oa5uqo95zpd2o6/e9l9rpi6o5heol88o3na

**Current Status:**
<img width="1440" alt="Screenshot 2020-10-08 at 4 47 28 AM" src=

[2020-10-07 23:43] banjtheman commented on #40
hmm looks like the main app started, shouldn't need to start that.
Also, you can inspect the logs of the Hasura image using

[code]

to get a better understanding of the issue.

[2020-10-08 11:41] callumrollo commented on #47
If going for a chloropleth map, will we want the boundaries of the counties? Currently it's just the central lat and lon. If so, I can extract county boundary geometries and add them to the dataset

[2020-10-08 19:01] Medha08 commented on #40
Hey @banjtheman  The docker container for GraphQL keeps on exiting because of database query error as per logs

[code]

Containers Status:
<img width="1440" alt="Screenshot 2020-10-09 at 12 25 25 AM" src="https://user-images.githubusercontent.com/6583928/95501958-b9c80480-09c6-11eb-875b-bb7bb07d8393.png">

Can I connect with you to discuss how to take this forward?

[2020-10-08 20:24] banjtheman commented on #40
The issue was that Postgres needed to be version 12 instead of 9.3
PR #59 fixes this issue

[2020-10-08 20:24] #40 closed, assigned to Medha08

[2020-10-08 20:30] banjtheman opened #60 "BUG: Database script does not load all data"
# What is the Task
Currently, the build script for Postgres does not load all the data.
Need to fix the docker build so that it correctly loads all the data into the database

* Line that causes bug
https://github.com/banjtheman/defundthepolice/blob/main/docker/postgres/Dockerfile#L13

* Here is the error
[code]

## Why do we want to do this
To ensure we can get all data we have collected

## How

[2020-10-08 21:07] banjtheman opened #61 "Add Pyramid chart to County Compare App"
# What is the Task
Create a Pyramid Chart for the County Compare app
https://altair-viz.github.io/gallery/us_population_pyramid_over_time.html

## Why do we want to do this
To visualize differences between two counties

## How can I get started?
1. Remove current code in the view
https://github.com/banjtheman/defundthepolice/blob/main/apps/county_compare/views.py#L29-L56

2. Replace with code that

[2020-10-08 21:21] banjtheman opened #62 "App: Compare All Counties"
# What is the Task
Create a new App, that can view all the data we have collected

## Why do we want to do this
To get a single view of all the data

## How can I get started?
1. Create a new folder in apps called all_counties_compare, follow style of other folders
https://github.com/banjtheman/defundthepolice/tree/main/apps

2.  Use pandas to create a single data frame to collect all the data, sh

[2020-10-08 21:25] banjtheman commented on #6
Objectives complete, closing

[2020-10-08 21:25] #6 closed, assigned to raoashish10

[2020-10-08 21:33] banjtheman opened #63 "Github Action to run python black on all PRs"
# What is the Task
Add a GitHub action that will run Python Black on all PRs
https://pypi.org/project/black/

## Why do we want to do this
To keep formating consistent

## How can I get started?
Look for a Github action that will add run python black on all PRs

## Definition of Done
A Github Action added that will run python black on all PRs

[2020-10-09 08:22] callumrollo commented on #47
I've made a geopandas table of the county shapefiles. The resultant csv is 200 Mb though :/ they're pretty hi-def. Going to create an Issue for discussion

[2020-10-09 08:25] callumrollo opened #66 "Shapefiles for choropleth map"
# What is the Task
Dataset of county boundary shape files

## Why do we want to do this
To make a choropleth map (see Issue #47 )

## How can I get started?
Grab the counties shapefiles from [here](https://catalog.data.gov/dataset/tiger-line-shapefile-2017-nation-u-s-current-county-and-equivalent-national-shapefile) or another source you find.

## Definition of Done
Save shapefiles in a format usa

[2020-10-09 08:27] callumrollo commented on #66
Using geopandas to read the files, I get a csv that is ~ 200 Mb. Shapefiles are pretty high resolution. If we simplify boundaries (removing points) county boundaries will no longer perfectly align. This may or may not be an issue.

@banjtheman what is an appropriate size for the shapefiles?

[2020-10-09 09:33] callumrollo commented on #66
Here's what I've got so far. Options for 200 Mb, 10 Mb and 2Mb

![image](https://user-images.githubusercontent.com/28703282/95567387-c9713880-0a1a-11eb-9c85-be4bac00e0c5.png)

[2020-10-09 12:52] banjtheman commented on #66
Start with the 2 Mb one for now and see how that goes

[2020-10-09 20:15] #66 closed, assigned to nobody

[2020-10-09 20:36] adriennetacke opened #68 "Data Collection Nevada"
# What is the Task
Collect county-level data on budgets for counties in Nevada

We would like to collect the following information for each county:

`state` - State located
`county` - Name of County
`year` - Year of budget
`item` - Budget item
`budget` - Amount allocated to the item
`source` - Where data come from

After CSV has been created, place in the data folder:
`data/states/Nevada/COUNTY_NA

[2020-10-09 20:36] adriennetacke commented on #68
I'd like to start with Clark County!

[2020-10-09 22:53] #45 closed, assigned to taratip

[2020-10-09 23:02] banjtheman commented on #63
The action runs black, but need it to also add the formatting to the pr like this workflow

https://github.com/psf/Black/actions/runs/17913292/workflow

[2020-10-09 23:53] c99SRS commented on #52
Hi @banjtheman and @thestrugglingblack, I want to know, what exactly needs to be done and when you are saying complete, can I add 2-3 counties?

[2020-10-10 00:43] banjtheman commented on #52
Go ahead need the data, no counties have been collected so far

[2020-10-10 06:00] c99SRS commented on #52
Awesome. Working on this.

[2020-10-10 06:09] sahushivam commented on #68
Please assign it to me. I'd like to work on Eureka County!

[2020-10-10 20:01] ankan10 commented on #68
I would like to work on Lincoln County. Please assign to me.

[2020-10-12 21:30] #63 closed, assigned to nobody

[2020-10-15 16:54] mpeiffer commented on #2
Hello! I'd like to work on Kent County.

[2020-10-22 20:32] #60 closed, assigned to nobody

[2020-10-23 06:19] Cressidai opened #80 "Fix malformed CSV for Virginia - Amherst"
# What is the Task
The data in the budget.csv for Virginia - Amherst county is slightly malformed and leads to an error if you try to view it in the app.

## Why do we want to do this
To be able to show the data correctly.

## How can I get started?
Fix the CSV file.

## Definition of Done
The data for this country is displayed correctly in the app.

[2020-10-25 07:32] #80 closed, assigned to nobody

[2020-10-25 13:23] c99SRS commented on #52
Hey @thestrugglingblack / @banjtheman , I have added for few counties. Could you please merge my PR?

[2020-10-31 02:11] keaglin commented on #2
I got mine together. I just need to put together my PR and open it.